.App {
  text-align: left;
}

.Header {
  text-align:left;
  margin-top:50px;
  margin-left: 30px;
  font-size: 40px;
}
.title {
  font-size: 20px;
  font-weight:bolder;
}

.image {
  margin-left:30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

button {
  padding: 7px;
  border: none;
  border-radius:4px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}
